h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--hero-title-color);
  color: var(--primary-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
:root {
  --primary-font: "Roboto",
  sans-serif;
  --secondary-font: "Raleway",
  sans-serif;
  --accent-color: #2196F3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --logo-color: #000000;
  --hero-title-color: #FFFFFF;
  --background-dar-color: #2f303a;
  --background-cloudy-color: #F5F5F5;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --transition-delay: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  color: var(--logo-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease, visibility 500ms ease;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: var(--hero-title-color);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  background: var(--hero-title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

@media screen and (max-width: 479px) {
  .modal {
    width: 320px;
    height: 609px;
    padding: 40px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-form-title {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

.modal-form {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-delay);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-field-desc {
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-form-input-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill var(--transition-delay);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition-delay);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
}
.modal-form-check:checked + .modal-checkbox {
  background-color: var(--accent-color);
  border: none;
}

.modal-form-own {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: none;
  fill: var(--hero-title-color);
}

.modal-form-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-form-check:checked + .modal-checkbox .modal-form-own {
  display: block;
}

.contract {
  color: var(--accent-color);
}

.modal-form-check {
  position: absolute;
  appearance: none;
}

.modal-form-submit {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  align-self: center;
  letter-spacing: 0.06em;
  border: none;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--hero-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-contact {
  margin-top: auto;
}

.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__close-icon:hover,
.mobile-menu__close-icon:focus {
  fill: var(--accent-color);
}

.mobile-nav-list {
  padding-top: 48px;
}

.mobile-nav-list__link {
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-menu-social {
  display: flex;
}

.mobile-menu-social-icon {
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  margin-top: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu-social-icon::after {
  display: inline-block;
  content: "";
  right: 0;
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-menu__contacts-tel {
  padding-top: 32px;
}

.contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}

.contact-phone__number {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}

.menu.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  margin-top: 28px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.mobile-nav-list__link:hover,
.mobile-nav-list__link:focus {
  color: var(--accent-color);
}

.mobile-nav-list {
  margin-top: 48px;
}

.mobile-nav-list__link {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-nav-list__item {
  margin-bottom: 32px;
}

.mobile-nav-list__link_current {
  color: var(--accent-color);
}

.mobile-nav-list__link:hover,
.mobile-nav-list__link:focus {
  color: #2196F3;
}

.mobile-menu__contacts-tel-item {
  color: var(--accent-color);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-align: left;
}

.mobile-menu__contacts-tel {
  margin-bottom: 32px;
}

.mobile-menu__contacts-mail-item {
  margin-top: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mobile-nav-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: 48px;
}

.mobile-nav-social-list__link::after {
  right: 0;
  content: "";
  display: inline-block;
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-nav-social-list__link:not(:last-child)::after {
  border: none;
}

.mobile-nav-social-list__link {
  flex-direction: row;
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 0.8;
  color: var(--accent-color);
  display: flex;
  align-items: center;
}

.hero {
  background-color: #C4C4C4;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-mobile/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixei-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-mobile/hero-bg-mobile@2x.jpg");
  }
}
@media screen and (min-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-tablet/hero-bg-tablet.jpg");
  }
}
@media screen and (min-device-pixei-ratio: 2) and (min-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-tablet/hero-bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-desktop/hero-bg-desktop.jpg");
  }
}
@media screen and (min-device-pixei-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-desktop/hero-bg-desktop@2x.jpg");
  }
}
.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-transform: uppercase;
  color: var(--hero-title-color);
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
}

.button {
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--hero-title-color);
}

.benefit-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .title {
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefit-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    align-items: left;
  }
}
.elements {
  column-gap: 30px;
}

.benefit-list {
  display: flex;
  gap: 30px;
}

.antenna-box {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
}

.antenna-icon {
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 10px;
}

.text {
  padding-bottom: 30px;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .elements {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .elements {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .elements {
    width: 270px;
  }
}
@media screen and (max-width: 1199px) {
  .section-title-page {
    display: none;
  }
}
.section-title-page {
  padding-top: 0;
}

.foto-elements {
  flex-basis: calc((100% - 60px) / 3);
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.foto-item {
  display: flex;
  padding-bottom: 94px;
  column-gap: 30px;
}

.title {
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.foto-img {
  position: relative;
}

.overley-img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-title {
  margin-bottom: 30px;
}

.imagene-fone {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--hero-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team {
  background-color: var(--background-cloudy-color);
}

.title-page {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.text-page {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.teamlist {
  padding-bottom: 30px;
  padding-top: 30px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  list-style: none;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--hero-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--hero-title-color);
}

@media screen and (max-width: 767px) {
  .imagine-fone {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .imagine-fone {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .imagine-fone {
    width: 270px;
  }
  .team-list {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    gap: 30px;
  }
}
.client {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
}

.clients {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.logo-client {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  fill: currentColor;
}

.client-frame {
  display: flex;
  width: 210px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-frame:hover, .client-frame:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .client-frame {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client-frame {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-frame {
    width: 170px;
  }
}
.page-footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dar-color);
}

@media screen and (min-width: 1200px) {
  .page-footer {
    text-align: left;
  }
}
.adrees-page {
  margin-top: 20px;
}

.logo-footer {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hero-title-color);
}

.adrees-footer {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--hero-title-color);
}

.page-contact {
  margin-bottom: 9px;
}

.contact-footer {
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--contacts-color);
}
.contact-footer:hover, .contact-footer:focus {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.social-page {
  display: block;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .social-page {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .social-page {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 60px;
  }
}
.social-list-focus {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

@media screen and (min-width: 1200px) {
  .social-list-focuse {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .social-list-page {
    margin-left: 70px;
  }
}
.titlepage {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.social-list-adress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-top: 20px;
  border-radius: 50%;
  fill: var(--accent-color);
  background: rgba(255, 255, 255, 0.1);
  color: var(--hero-title-color);
  transition: background-color var(--transition-delay);
}

.social-list-adress:hover,
.social-list-adress:focus {
  background-color: var(--accent-color);
  color: var(--hero-title-color);
}

.social-list-icons {
  width: 20px;
  height: 20px;
  fill: var(--hero-title-color);
}

.footer-modal-form {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .footer-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-modal-form {
    display: block;
    margin-right: 0;
  }
}
.footer-form-field {
  width: 100%;
  max-width: 480px;
}

.footer-modal-text {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: inline-flex;
  }
}
.footer-form-message {
  height: 50px;
  padding-left: 16px;
  padding-right: 295px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer-form-field {
    width: 100%;
  }
  .footer-form-message {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-form-field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-field {
    width: 358px;
  }
}
.footer-form-button {
  position: relative;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: 12px;
  padding: 10px 28px;
  border-radius: 4px;
  color: var(--hero-title-color);
  background: var(--accent-color);
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .footer-form-button {
    margin-top: 0;
  }
}
.footer-button-text {
  position: absolute;
  gap: 10px;
  top: 10px;
  left: 28px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
}

.modal-footer-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
}

.footer-modal-text {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.footer-form-message {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.modal-footer-icon {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  top: 13px;
  right: 15px;
  fill: var(--hero-title-color);
}

.footer-form-button {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 28px;
  border-radius: 4px;
  color: var(--hero-title-color);
  background: var(--accent-color);
  border: none;
  cursor: pointer;
}

.footer-modal-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-modal-text {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.modal-footer-icon {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  top: 13px;
  right: 15px;
  fill: var(--hero-title-color);
}

.footer-form-button {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 28px;
  border-radius: 4px;
  color: var(--hero-title-color);
  background: var(--accent-color);
  border: none;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.flex-section {
  padding-bottom: 94px;
  margin-top: 94px;
}

.ikons:hover,
.ikons:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.page-main {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  column-gap: 8px;
}

.pagetest {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--logo-color);
}

.pagelist {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.flex-element {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.pagemain {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pagemain:hover, .pagemain:focus {
  background-color: var(--accent-color);
  color: var(--background-cloudy-color);
}

.pageflex {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-delay);
}
.pageflex:hover, .pageflex:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team-list-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  overflow: auto;
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--hero-title-color);
  transform: translateY(100%);
  transition: transform var(--transition-delay);
}

.pageflex:hover .overlay,
.pageflex:focus .overlay {
  transform: translateY(0%);
}

.model-close-icon:hover {
  fill: var(--accent-color);
}

.menu__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  position: relative;
  transition: color var(--transition-delay);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .open-mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .open-mobile-menu-btn_icon {
    width: 40px;
    height: 40px;
  }
  .accent {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .page-header {
    border-bottom: 1px solid #ECECEC;
  }
  .page-header__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .icon__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  .smart__phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  .logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-left: auto;
    color: var(--logo-color);
  }
  .contact {
    flex-direction: row;
    margin-top: 21px;
    margin-bottom: 21px;
    align-items: center;
  }
  .accent {
    color: var(--accent-color);
  }
  .menu {
    display: flex;
    margin-top: 32px;
    margin-right: 96px;
    column-gap: 50px;
  }
  .menu.link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--transition-delay);
  }
  .menu__item .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    margin-top: 28px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .menu__link:hover,
.menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link.current {
    color: var(--accent-color);
  }
  .contact-mail {
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transition-delay);
  }
  .contact-mail:hover, .contact-mail:focus {
    color: var(--accent-color);
  }
  .contact-phone-number {
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .contact-phone-number:hover, .contact-phone-number:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    border-bottom: 1px solid #ECECEC;
  }
  .page-header-container {
    display: flex;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .icon__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  .smart__phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  .contact {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
  }
  .contact-phone-number {
    margin-left: 50px;
  }
  .accent {
    color: var(--accent-color);
  }
  .menu {
    display: flex;
    margin-top: 32px;
    column-gap: 50px;
  }
  .menu.link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--transition-delay);
  }
  .menu__item .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    margin-top: 28px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .menu__link:hover,
.menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link.current {
    color: var(--accent-color);
  }
  .contact-mail {
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transition-delay);
  }
  .contact-mail:hover, .contact-mail:focus {
    color: var(--accent-color);
  }
  .contact-phone-number {
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .contact-phone-number:hover, .contact-phone-number:focus {
    color: var(--accent-color);
  }
}/*# sourceMappingURL=main.css.map */