.page-footer {
    // display: inline-block;
    // flex-direction: row;
    // text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-dar-color);
}

@media screen and (min-width:1200px) {
    // .page-footer{
    //     text-align: left;
    // }
    
}
.adrees-page {
    margin-top: 20px;
}

.logo-footer {
    display: inline-block;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--hero-title-color);
}

.adrees-footer {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--hero-title-color);
}

.page-contact {
    margin-bottom: 9px;
}

.contact-footer {
    margin-top: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--contacts-color);


&:hover,
&:focus {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
}






