// .social-list-page {

//     width: 206px;
//     height: 80px;
//     margin-left: 70px;
// }

// .titlepage {
//     font-family: var(--primary-font);
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--hero-title-color);
// }

// .social-page {
   
//    align-items: center;
//    justify-content: center;
// }

// .social-list-focus {
//     display: flex;
//     margin-top: 20px;
//     gap: 10px;
// }

// .social-list-adress {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;
//     fill: var(--accent-color);
//     background: rgba(255, 255, 255, 0.1);
//     color: var(--hero-title-color);
//     transition: background-color var(--transition-delay);


// &:hover,
// &:focus {
//     background-color: var(--accent-color);
//     color: var(--hero-title-color);
// }
// }
// .social-list-icons {
//     width: 20px;
//     height: 20px;
//     fill: var(--hero-title-color);
// }





 .social-page {
       display: block;
    //   padding-bottom: 60px;
    //   padding-top: 60px;
       list-style: none;
 }

@media screen and (min-width: 1200px) {
    .social-page{
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .social-page {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 60px;
    }
}

 .social-list-focus {
     display: flex;
     justify-content: center;
     text-align: center;
    //  margin-top: 20px;
     gap: 10px;
 }

   @media screen and (min-width: 1200px) {
        .social-list-focuse {
          justify-content: space-between;
       }
   }
 
//  .social-list-page{
//     margin-top: 60px;
//  }
 
 @media screen and (min-width: 1200px) {
     .social-list-page {
      margin-left: 70px;
     }
 }
 
 
 
 
 
 // .social-list-page {
    
        //     width: 206px;
        //     height: 80px;
        //     margin-left: 70px;
        // }
    
        .titlepage {
            font-family: var(--primary-font);
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--hero-title-color);
        }
    
        // .social-page {
        //     display: flex;
        //     align-items: baseline;
        // }
    
        //    .social-list-focus {
        //        display: flex;
        //        margin-top: 20px;
        //        gap: 10px;
        //    }
        .social-list-adress {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            margin-top: 20px;
            border-radius: 50%;
            fill: var(--accent-color);
            background: rgba(255, 255, 255, 0.1);
            color: var(--hero-title-color);
            transition: background-color var(--transition-delay);
        }
    
        .social-list-adress:hover,
        .social-list-adress:focus {
            background-color: var(--accent-color);
            color: var(--hero-title-color);
        }
    
        .social-list-icons {
            width: 20px;
            height: 20px;
            fill: var(--hero-title-color);
        }