.footer-modal-form{
    margin-left: auto;
    // width: 100%;
   
    // margin-right: auto;
}
@media screen and (min-width: 768px) {
    .footer-modal-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}
        
@media screen and (min-width: 1200px) {
    .footer-modal-form {
        display: block;
        margin-right: 0;
    }
    
}
.footer-form-field{
    width: 100%;
    max-width: 480px;
}

.footer-modal-text {
        font-family: var(--primary-font);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: var(--hero-title-color);
    }

@media screen and (min-width: 1200px) {
    .footer-form{
        display: inline-flex;
    }
}

.footer-form-message {
    // width: 100%;
    // max-width: 450px;
    height: 50px;
    padding-left: 16px;
    // padding-top: 15px;
    // padding-bottom: 15px;
    padding-right: 295px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


@media screen and (max-width: 767px) {
    .footer-form-field{
        width: 100%;
    }
    .footer-form-message{
        width: 100%;
    }
   
}
    


@media screen and (min-width: 768px) {
    .footer-form-field {
        width: 450px;
    }

}

@media screen and (min-width: 1200px) {
    .footer-form-field {
        width: 358px;
    }

}

.footer-form-button {
    position: relative;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 12px;
    padding: 10px 28px;
    border-radius: 4px;
    color: var(--hero-title-color);
    background: var(--accent-color);
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 1200px){
.footer-form-button{
    margin-top: 0;
}
}

.footer-button-text{
    position: absolute;
    gap: 10px;
    top: 10px;
    left: 28px;
    font-style: normal;
    font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--hero-title-color);
    

}

.modal-footer-icon{
    position: absolute;
    top: 13px;
    right: 28px;
    width: 24px;
    height: 24px;
}

.footer-modal-text {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--hero-title-color);
}

.footer-form-message {
    width: 100%;
    max-width: 450px;
    height: 50px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.modal-footer-icon {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    top: 13px;
    right: 15px;
    fill: var(--hero-title-color);
}

.footer-form-button {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 10px 28px;
    border-radius: 4px;
    color: var(--hero-title-color);
    background: var(--accent-color);
    border: none;
    cursor: pointer;
}
.footer-modal-page{
    display: flex;
    align-items: center;
    justify-content: center;
}




// .footer-modal-form {
//     margin-left: auto;
// }

// .footer-modal-page {
//     position: relative;
// }

// .footer-form {
//     display: flex;
//     align-items: center;
// }

// .footer-modal-text {
//     font-family: var(--primary-font);
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     margin-bottom: 20px;
//     text-transform: uppercase;
//     color: var(--hero-title-color);
// }


// .footer-form-message {
//     width: 358px;
//     height: 50px;
//     padding-left: 16px;
//     padding-top: 15px;
//     padding-bottom: 15px;
//     padding-right: 295px;
//     background-color: #2F303A;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     align-items: center;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
// }

// .modal-footer-icon {
//     display: flex;
//     align-items: center;
//     justify-items: center;
//     width: 24px;
//     height: 24px;
//     margin-left: 10px;
//     top: 13px;
//     right: 15px;
//     fill: var(--hero-title-color);
// }

// .footer-form-button {
//     font-family: var(--primary-font);
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.87;
//     letter-spacing: 0.06em;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     width: 200px;
//     height: 50px;
//     margin-left: 12px;
//     padding: 10px 28px;
//     border-radius: 4px;
//     color: var(--hero-title-color);
//     background: var(--accent-color);
//     border: none;
//     cursor: pointer;
// }





// .footer-modal-form {
//     margin-left: auto;
// }

// .footer-modal-page {
//     position: relative;
// }

// .footer-form {
//     display: flex;
//     align-items: center;
// }

.footer-modal-text {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--hero-title-color);
}


.modal-footer-icon {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    top: 13px;
    right: 15px;
    fill: var(--hero-title-color);
}

.footer-form-button {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 10px 28px;
    border-radius: 4px;
    color: var(--hero-title-color);
    background: var(--accent-color);
    border: none;
    cursor: pointer;
}