.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: white;
   
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu__container{
    position: relative;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile-contact{
    margin-top: auto;
}
.mobile-menu__close-button{
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: 0;
    padding: 0;
    line-height: 0;
}
.mobile-menu__close-icon{
width: 40px;
height: 40px;
}
.mobile-menu__close-icon:hover,
.mobile-menu__close-icon:focus{
    fill: var(--accent-color);
}



.mobile-nav-list{
   padding-top: 48px;
   
}
// .mobile-nav-list__item{
//         padding-bottom: 32px;
// }
.mobile-nav-list__link{
    font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
.mobile-menu-social{
    display: flex;
}
.mobile-menu-social-icon{
    flex-direction: row;
    align-items: center;
        padding-right: 20px;
        margin-top: 64px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--accent-color);
}
.mobile-menu-social-icon::after{
    display: inline-block;
    content: "";
    right: 0;
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);

}
.mobile-menu__contacts-tel{
        padding-top: 32px;
}

// .mobile-menu__contacts{
//     margin-top: 302px;
// }
.contact__mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.contact-mail:hover,
.contact-mail:focus{
      color: var(--accent-color);
}
.contact-phone__number{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--accent-color);
}
.menu.current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;

    margin-top: 28px;
    background-color: var(--accent-color);
    border-radius: 2px;
}
.mobile-nav-list__link:hover,
.mobile-nav-list__link:focus{
    color: var(--accent-color);
}

.mobile-nav-list {
    margin-top: 48px;
}

.mobile-nav-list__link {
    color: #212121;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.mobile-nav-list__item {
   margin-bottom: 32px;
}

.mobile-nav-list__link_current {
    color: var(--accent-color);
}

.mobile-nav-list__link:hover,
.mobile-nav-list__link:focus {
    color: #2196F3;
}

// .mobile-menu__contacts {
//     // margin-top: 302px;
// }

.mobile-menu__contacts-tel-item {
    color: var(--accent-color);
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-align: left;
    // margin-bottom: 32px; 

}

.mobile-menu__contacts-tel{
    margin-bottom: 32px;
}
.mobile-menu__contacts-mail-item {
    margin-top: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color)
}

.mobile-nav-social-list {
    display: flex;
   flex-wrap: wrap; 

    margin-top: 64px;
    margin-bottom: 48px;


}

.mobile-nav-social-list__link::after {
    right: 0;
    content: "";
    display: inline-block;
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);

}

.mobile-nav-social-list__link:not(:last-child)::after {
    border: none;
}

.mobile-nav-social-list__link {
    flex-direction: row;
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 0.8;
    color: var(--accent-color);
    display: flex;
    align-items: center;
}