.modal-form-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--primary-text-color);
}

.modal-form {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.modal-form-input {
    width: 448px;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-delay);


&:focus+.modal-form-input-icon {
    fill: var(--accent-color);

}

&:focus {
    outline: none;
    border-color: var(--accent-color);
}
}


.modal-form-field-desc {
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--secondary-text-color);
}

.modal-form-input-wrapper {
    display: block;
    position: relative;
    margin-bottom: 10px;
    margin-top: 4px;
}

.modal-form-input-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    transition: fill var(--transition-delay);
}
.modal-form-message {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color var(--transition-delay);


&:focus {
    outline: none;
    border-color: var(--accent-color);
}
}
.modal-form-check-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.modal-checkbox {
    width: 16px;
    height: 15px;
    border: 1px solid var(--primary-text-color);
    border-radius: 3px;
    cursor: pointer;
    margin-right: 7px;


.modal-form-check:checked+&{
    background-color: var(--accent-color);
    border: none;
}
}
.modal-form-own {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    display: none;
    fill: var(--hero-title-color);
}

.modal-form-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}



.modal-form-check:checked+.modal-checkbox .modal-form-own {
    display: block;
}

.contract {
    color: var(--accent-color);
}

.modal-form-check {
    position: absolute;
    appearance: none;
}

.modal-form-submit {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    align-self: center;
    letter-spacing: 0.06em;
    border: none;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    color: var(--hero-title-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}