:root {
    --primary-font: 'Roboto',
    sans-serif;
    --secondary-font: 'Raleway',
    sans-serif;
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --logo-color: #000000;
    --hero-title-color: #FFFFFF;
    --background-dar-color: #2f303a;
    --background-cloudy-color: #F5F5F5;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --transition-delay: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}